<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="cd852982-0f15-40dc-8f2a-bf9c84c5941b" name="BI V1.0 TestSuite" xmlns:con="http://eviware.com/soapui/config"><con:description>The test suite generated for the REST service [BI V1.0]</con:description><con:settings><con:setting id="cd852982-0f15-40dc-8f2a-bf9c84c5941bfileName">BI-V1.0-TestSuite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties><con:property><con:name>FredAccessKey</con:name><con:value>7b892f58-a111-4c53-8163-d394e2de5d63</con:value></con:property></con:properties><con:reportParameters/></con:testSuite>